apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.22.0 (HEAD)
  creationTimestamp: null
  labels:
    io.kompose.service: scoreboard
  name: scoreboard
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: scoreboard
  strategy: {}
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.22.0 (HEAD)
      creationTimestamp: null
      labels:
        io.kompose.service: scoreboard
    spec:
      containers:
        - env:
            - name: REDIS_HOST
              value: scoreboard-db
            - name: REDIS_PORT
              value: "6379"
          image: romanmc72/scoreboard:0.0.2
          name: scoreboard
          ports:
            - containerPort: 5000
          resources: {}
      restartPolicy: Always
status: {}
